@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .userdata-input {
        @apply border rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white
    }

    .userdata-label {
        @apply block mb-2 text-sm font-medium text-white
    }

    .message-container {
        width: 100%;
        height: 495px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .message-game-container {
            width: 308px;
            height: 360px;
            overflow-y: hidden;
            overflow-x: hidden;
    }

    .categories-container {
        width: 100%;
        height: 360px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .dark-mode {
        color-scheme: dark;
    }

    .blocker {
        pointer-events: none;
    }

    @keyframes bouncing {
        0% {
            transform: translateY(0);
        }
    
        50% {
            transform: translateY(-3px);
        }
    
        100% {
            transform: translateY(0);
        }
    }
        
    .bouncing {
        backface-visibility: hidden;
        animation: bouncing 1s ease-in-out infinite;
    }
}